<a href="https://colab.research.google.com/github/abhinavtk1/ED5340-CW/blob/main/MA23M002_LAB3_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MA23M002 - LAB 3 - PART 1

# Q1

Q1 . Write a program (WAP) to implement the following operations on a collection of library books:

(a) Construct a catalog of books, with each book having an author's name, book title, ISBN number, publication year, and number of pages.

(b) Add a new book to the catalog, ensuring that the books are kept in ascending order based on the publication year.

(c) Locate a book by its ISBN number and delete the book's entry from the catalog.

(d) Insert a new book entry at the end of the catalog using the provided book information.

(e) Identify and remove any duplicate entries in the catalog, preserving only one copy of each book based on its ISBN number.

(f) Reorganize the entire catalog so that the books are sorted in descending order by the number of pages.

a) Construct a catalog of books, with each book having an author's name, book title, ISBN number, publication year, and number of pages.

In [86]:
# Catalogue type: [Author name,  Book title, ISBN number, publication year, number of pages]
# Books arranged in ascending order
books_cat = [["JK Rowling" , "Harry Potter", 321, 2000, 150],
              ["George Orwell" , "Animal Farm", 431, 2005, 99],
                ["R Kipling" , "Jungle Book", 1003, 2008, 125]]

b) Add a new book to the catalog, ensuring that the books are kept in ascending order based on the publication year.

In [87]:
new_book = ["Scott F", "The Great Gatsby", 555, 2007, 199]
for i in range(len(books_cat)):
  if books_cat[i][3]>new_book[3]:
    idx = i
    break
else:
  books_cat.append(new_book)
if new_book not in books_cat:
  books_cat.insert(idx,new_book)

In [88]:
for book in books_cat:
  print(book)

['JK Rowling', 'Harry Potter', 321, 2000, 150]
['George Orwell', 'Animal Farm', 431, 2005, 99]
['Scott F', 'The Great Gatsby', 555, 2007, 199]
['R Kipling', 'Jungle Book', 1003, 2008, 125]

(c) Locate a book by its ISBN number and delete the book's entry from the catalog.

In [89]:
isbn = 555
for book in books_cat:
  if isbn == book[2]:
    books_cat.remove(book)
    break
for book in books_cat:
  print(book)

['JK Rowling', 'Harry Potter', 321, 2000, 150]
['George Orwell', 'Animal Farm', 431, 2005, 99]
['R Kipling', 'Jungle Book', 1003, 2008, 125]

(d) Insert a new book entry at the end of the catalog using the provided book information.

In [90]:
n_b = ["D Radcliffe", "Godzilla", 894, 2021, 144]
books_cat.append(n_b)
for book in books_cat:
  print(book)

['JK Rowling', 'Harry Potter', 321, 2000, 150]
['George Orwell', 'Animal Farm', 431, 2005, 99]
['R Kipling', 'Jungle Book', 1003, 2008, 125]
['D Radcliffe', 'Godzilla', 894, 2021, 144]

(e) Identify and remove any duplicate entries in the catalog, preserving only one copy of each book based on its ISBN number.

In [91]:
books_cat.append(n_b)
for book in books_cat:
  print(book)

['JK Rowling', 'Harry Potter', 321, 2000, 150]
['George Orwell', 'Animal Farm', 431, 2005, 99]
['R Kipling', 'Jungle Book', 1003, 2008, 125]
['D Radcliffe', 'Godzilla', 894, 2021, 144]
['D Radcliffe', 'Godzilla', 894, 2021, 144]

In [92]:
#  Now remove the duplicates
uniq_books = []
isbn = set()
for book in books_cat:
  if book[2] not in isbn:
    isbn.add(book[2])
    uniq_books.append(book)
for book in uniq_books:
  print(book)

['JK Rowling', 'Harry Potter', 321, 2000, 150]
['George Orwell', 'Animal Farm', 431, 2005, 99]
['R Kipling', 'Jungle Book', 1003, 2008, 125]
['D Radcliffe', 'Godzilla', 894, 2021, 144]

(f) Reorganize the entire catalog so that the books are sorted in descending order by the number of pages.

In [93]:
for i in range(len(uniq_books)):
    for j in range(len(uniq_books) - 1):
        if uniq_books[j][-1] > uniq_books[j+1][-1]:
            uniq_books[j], uniq_books[j+1] = uniq_books[j+1], uniq_books[j]

# Print the reordered list
for book in uniq_books:
    print(book)

['George Orwell', 'Animal Farm', 431, 2005, 99]
['R Kipling', 'Jungle Book', 1003, 2008, 125]
['D Radcliffe', 'Godzilla', 894, 2021, 144]
['JK Rowling', 'Harry Potter', 321, 2000, 150]

# Q2

Q2. Write a program using list comprehension

a) To add the corresponding elements of two lists and print the new list.

b) To perform element wise multiplication of two lists and print the new list.

c) To create a list of the unique characters of a given string.

Eg: input = “hello” , output = [‘h’, ‘e’, ‘l’, ‘o’]

In [4]:
l1 = [3, 6, 7, 9, 11, 13]
l2 = [2, 4, 6, 8, 10, 12]
# add corresponding elements
l3 = [i+j for i,j in zip(l1,l2)]
print(l3)

[5, 10, 13, 17, 21, 25]

In [5]:
# element wise multiplication
l4 = [i*j for i,j in zip(l1,l2)]
print(l4)

[6, 24, 42, 72, 110, 156]

In [99]:
s = "hello"
charset = set()
l5 = [c for c in s if c not in charset and not charset.add(c)]
print(l5)

['h', 'e', 'l', 'o']

# Q3

Q3. Using the zip function, WAP

a) To add the elements of 2 matrices (Define matrices as per your wish).

b) To perform element wise multiplication on 2 matrices.

In [15]:
A = [[2,5,7,8],
     [3,5,1,4]]
B = [[1,2,3,4],
    [5,6,7,8]]
print("Matrix A = ",A)
print("Matrix B = ",B)

Matrix A =  [[2, 5, 7, 8], [3, 5, 1, 4]]
Matrix B =  [[1, 2, 3, 4], [5, 6, 7, 8]]

In [16]:
# Addition
add = [[x + y for x, y in zip(r1, r2)] for r1, r2 in zip(A, B)]
print(add)

[[3, 7, 10, 12], [8, 11, 8, 12]]

In [17]:
# Multiplication
multiply = [[x * y for x, y in zip(r1, r2)] for r1, r2 in zip(A, B)]
print(multiply)

[[2, 10, 21, 32], [15, 30, 7, 32]]

# Q4

Q4. List of List : Given a square matrix represented as a list of lists,

a) WAP to print the row sum, column sum and trace of the matrix

b) WAP to print the transpose of the matrix.

c) WAP to check whether the given matrix is symmetric or not.

d) WAP to check whether the Identity matrix (I) is positive definite or not by using Quadratic form method (x^T*I*x > 0), where x is any non zero vector.

In [36]:
sqMat = [[2,3,4],[4,5,6],[1,2,3]] # 3x3 square matrix
print(sqMat)

[[2, 3, 4], [4, 5, 6], [1, 2, 3]]

In [23]:
# Row sum
rowSum = []
for i in sqMat:
  rSum = sum(i)
  rowSum.append(rSum)
print(rowSum)

[9, 15, 6]

In [24]:
# Column sum
colSum = []
for col in range(len(sqMat)):
  csum = 0
  for row in range(len(sqMat)):
    csum += sqMat[row][col]
  colSum.append(csum)
print(colSum)

[7, 10, 13]

In [25]:
# Trace of the matrix
t = 0
for i in range(len(sqMat)):
  t += sqMat[i][i]
print("Trace of the matrix = ", t)

Trace of the matrix =  10

In [29]:
# Transpose
tMat = []
for i in range(len(sqMat)):
  row = []
  for j in range(len(sqMat[0])):
    row.append(sqMat[j][i])
  tMat.append(row)
print(tMat)

[[2, 4, 1], [3, 5, 2], [4, 6, 3]]

In [37]:
# Symmetric or not
symm = True
for i in range(len(sqMat)):
  for j in range(len(sqMat[0])):
    if sqMat[i][j] != sqMat[j][i]:
      print("Matrix is not symmetric")
      symm = False
      break
  if not symm:
    break
if symm:
  print("Matrix is symmetric")

Matrix is not symmetric

In [39]:
# Identity matrix (I) is positive definite or not by using Quadratic form method (x^TIx > 0)
I = [[1,0,0],[0,1,0],[0,0,1]] # 3x3 identity matrix
v = [1,2,3] # vector of size 3
v1 = []
for i in range(len(I)):
  for j in range(len(I[0])):
    if i==j:
      v1.append(I[i][j]*v[i])
res = 0
for i in range(len(v)):
  res += v[i]*v1[i]
print("Result = ",res)
print("Result is > 0. Hence I is positive definite")

Result =  14
Result is > 0. Hence I is positive definite

# Q5

Q5. List of Lists : WAP to remove sub lists from a given list of lists that contain an element outside a given range.

Example :

Input : [[3], [1, 3, 2], [0, 1, 9, 3, 5, 7], [9, 10], [13, 14, 16, 17]]  Range: 1, 5

Output : [[3], [1, 3, 2]]

Explanation : If a sublist has a number that is other than 1, 2, 3, 4, 5, remove the sublist from the list of lists and print the remaining sublists as a lists of lists

In [94]:
inp = [[3], [1, 3, 2], [0, 1, 9, 3, 5, 7], [9, 10], [13, 14, 16, 17]]
output = []
for i in inp:
  for j in i:
    if j not in range(1,6):
      break
  else:
    output.append(i)  # if loop breaks, else is not executed
print(output)

[[3], [1, 3, 2]]