In [1]:
# Tuple
t1 = (10,)
print(t1)

(10,)

In [2]:
print(type(t1))

<class 'tuple'>

In [13]:
t1 = (10, 4.2, 'string', [7,3,2,1])
print(t1)

(10, 4.2, 'string', [7, 3, 2, 1])

In [9]:
for i in range(len(t1)):
  print(t1[i])
  print(type(t1[i]))

10
<class 'int'>
4.2
<class 'float'>
string
<class 'str'>
[7, 3, 2, 1]
<class 'list'>

In [10]:
t1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [15]:
a, b, c, d = t1

In [16]:
print(a, b, c, d)

10 4.2 string [7, 3, 2, 1]

In [25]:
t1 = (1, 2, 3, 4)
t2 = ("A", "B", "C", "D")
t3 = zip(t1,t2)

In [23]:
print(*t3)

In [26]:
for i, j in t3:
  print(i,j)

1 A
2 B
3 C
4 D