In [ ]:
# lambda function
pdt = lambda a,b : a*b

In [ ]:
pdt(3,4)

12

In [ ]:
dic = {'c':1, 'b':3, 'd':5, 'a':4, 'e':2}

In [ ]:
dic1 = sorted(dic.items(), key = lambda x:x[1])
print(dic1)

[('c', 1), ('e', 2), ('b', 3), ('a', 4), ('d', 5)]

In [ ]:
lst = [3, 5, 4, 1, 7]
lst2 = map(lambda x: x**2, lst)
print(lst2)

<map object at 0x7c004c4a1030>

In [ ]:
lst2 = list(lst2)
print(lst2)

[9, 25, 16, 1, 49]

In [ ]:
#class
# constructor - def __init__(self, arg)

In [ ]:
class imgNo:
  def __init__(self, r, i = 0):
    self.r = r
    self.i = i
    self.img = self.r + self.i
  def printout(self):
    print(self.img)

In [ ]:
img1 = imgNo(3,2)

In [ ]:
class student:
  def __init__(self, n = 'A', r = 1, s = 1):
    self.name = n
    self.roll = r
    self.sem = s

  def printout(self):
    print(self.name, self.roll, self.sem)

In [ ]:
s1 = student("Ram")

In [ ]:
s1.printout()

Ram 1 1

In [ ]:
print(s1.name)

Ram

In [ ]:
def change(obj, n, r, s):
  obj.name = n
  obj.roll = r
  obj.sem = s

In [ ]:
change(s1, "Abhi", 2, 3)
s1.printout()

Abhi 2 3

In [ ]:
s3 = student(r = 5)

In [ ]:
s3.printout()

A 5 1

In [ ]:
# destructor

In [ ]:
class studentclass:
  # constructor
  def __init__(self, n1, n2, n3):
    self.name = n1
    self._name = n2   # notionally private data
    self.__name = n3  # strictly private
  def printout(self):
    print(self.name, self._name, self.__name)

In [ ]:
sc1 = studentclass('a','b','c')

In [ ]:
sc1.printout()

a b c

In [ ]:
sc1.name = 'x'

In [ ]:
sc1._name = 'y'

In [ ]:
sc1.__name = 'z'

In [ ]:
sc1.printout()  # double underscore is not changing

x y c

In [ ]:
print(sc1.__name) # why?

z

In [ ]:
# class variables and methods

In [ ]:
# create class complex no. with diff