# LAB 4: PART-1 :DICTIONARY AND FUNCTIONS

1. Explore the use and syntax of common built-in functions:

range(),

iter(),

eval(),

enumerate(),

zip(),

lambda,

input(),

map(),

filter(),

next()

reduce()

Include a short description and a practical code example for each, ensuring clarity through comments.

1. range() : gives a sequence of numbers within a specified range.

In [ ]:
rng = range(1, 8, 2) # gives numbers from 1 to 7 with a step size of 2
lst = list(rng)
print(lst)

[1, 3, 5, 7]

2. iter() - Returns an iterator object for the given iterable.

In [ ]:
iter1 = iter(lst) # creates iterator from list
print(next(iter1)) # gives the next item of the iterator
print(next(iter1))

1
3

3. eval() - Evaluates a string passed as input as a Python expression.

In [ ]:
x1 = eval('9*5') # here it evaluates the  string expression and gives its numerical output
print(x1)

45

4. enumerate() - Adds a counter to an iterable and returns it as an enumerate object.

In [ ]:
lst = ['a', 'b', 'c', 'd', 'e', 'f']
for i, j in enumerate(lst): # gives a counter for each item in lst
  print(i,j)

0 a
1 b
2 c
3 d
4 e
5 f

5. zip() - Combines elements from multiple iterables into tuples

In [ ]:
lst1 = ['a', 'b', 'c', 'd', 'e', 'f']
lst2 = [1,2,3,4,5,6]
zipped = zip(lst1,lst2) # returns a tuple of corresponding elements from both lists
for x in zipped:
  print(x)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)
('f', 6)

6. lambda - Creates an anonymous function (lambda function) <br>
syntax: lambda argument: expression

In [ ]:
find_cube = lambda x : x**3 # here the lambda function find_cube takes input x and returns its cube
print(find_cube(3))
print(find_cube(4))

27
64

7. input() - Takes an input from the user as a string

In [ ]:
inp = input("Enter your input: ")

Enter your input: hello

8. map(func, iterable) - Applies a function to all the items in the given iterable

In [ ]:
l1 = [2,4,5,7,3,4]
l2 = list(map(lambda x : x**2, l1))  # Here the map function take each item from l1 and find its square. Returns a map object. So we convert it to list
print(l2)

[4, 16, 25, 49, 9, 16]

9. filter(func, iterable) - Filters elements from an iterable based on a function's condition.

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
odd_nums = filter(lambda x: x % 2 != 0, nums) #filter to get odd numbers from a list

result = list(odd_nums) # converting filter object to a list
print(result)

[1, 3, 5]

10. next(iterator) - gives the next item from an iterator

In [ ]:
iter1 = iter([5, 2, 4, 6, 3])
print(next(iter1)) #next() to get the next element from an iterator
print(next(iter1))
print(next(iter1))

5
2
4

11. reduce() - apply a function to items of iterable cumulatively

In [ ]:
from functools import reduce
nums = [2, 3, 4, 1, 5]
pdt = reduce(lambda x, y: x * y, nums) # reduce() to find the product of elements in a list. it finds product by multipliying elements one by one
print(pdt)

120

2. Write a Python function that sorts a dictionary based on the length of values.

Sample:

Input: {'lemon':'yellow','apple':'red'} output: {'apple':'red','lemon':'yellow'}

In [ ]:
def sort_dict(input):
  sorted_dict = dict(sorted(input.items(), key=lambda item: len(item[1])))
  return sorted_dict

In [ ]:
inp = {'lemon':'yellow','apple':'red', 'orange':'orange', 'grapes':'green'}
output = sort_dict(inp)
print(output)

{'apple': 'red', 'grapes': 'green', 'lemon': 'yellow', 'orange': 'orange'}

3. Develop a Python program that executes the following tasks with a user-provided string:

a. Prompt the user to input a string.

In [ ]:
inp = input("Enter a string: ")

Enter a string: abhbehbuidhiuhcfcuiehd

b. Create a dictionary from the string where each key is a unique alphabet character and the corresponding value is the frequency of that character's occurrence in the string.

In [ ]:
dict1 = {}
for c in inp:
  dict1[c] = dict1.get(c,0)+1
print(dict1)

{'a': 1, 'b': 3, 'h': 5, 'e': 2, 'u': 3, 'i': 3, 'd': 2, 'c': 2, 'f': 1}

c. Generate a sorted list of tuples from the dictionary based on character frequency (values).

In [ ]:
l1 = list(sorted(dict1.items(), key = lambda x: x[1]))
print(l1)

[('a', 1), ('f', 1), ('e', 2), ('d', 2), ('c', 2), ('b', 3), ('u', 3), ('i', 3), ('h', 5)]

d. Generate a sorted list of tuples from the dictionary based on the alphabet characters (keys).

In [ ]:
l2 = list(sorted(dict1.items(), key = lambda x: x[0]))
print(l2)

[('a', 1), ('b', 3), ('c', 2), ('d', 2), ('e', 2), ('f', 1), ('h', 5), ('i', 3), ('u', 3)]

e. Identify the three most frequently occurring characters. In the event of a frequency tie, prioritize characters in lexicographical order.

In [ ]:
l3 = list(sorted(l2, key = lambda x:x[1], reverse = True))
l4 = l3[:3]
print(l4)

[('h', 5), ('b', 3), ('i', 3)]

4. Write a function called lookup_student that takes a dictionary representing student records, where names are keys and roll numbers are values. The function should search for a specified student name and return the corresponding roll number if found; otherwise, it should return "Not Found"

In [ ]:
def lookup_student(dict1, name):
  if name in dict1:
    return dict1[name]
  else:
    return "Not Found"

In [ ]:
records = { "Alice" : "AB111", "Bob" : "EE200", "David" : "XY333", "Messi": "DC231", "Ronaldo": "AL345", "Sachin": "CT987"}

In [ ]:
print(lookup_student(records,"Bob"))
print(lookup_student(records,"Messi"))
print(lookup_student(records,"John"))

EE200
DC231
Not Found

5. Given a list of integers, write a Python program to: <br>
a) Find the frequency of each integer in the list and store the result in a dictionary.

In [ ]:
nums = [3,4,2,1,4,3,1,2,5,7,4,3,5,1,2,3,4,5,6,2,1,4,3,2,1,6,5]
num_dict = {}
for i in nums:
  num_dict[i] = num_dict.get(i,0)+1
print(num_dict)

{3: 5, 4: 5, 2: 5, 1: 5, 5: 4, 7: 1, 6: 2}

b) Print the maximum integer and its frequency.

In [ ]:
max_int = max(nums)
freq = num_dict[max_int]
print(f"Max integer is: {max_int} and its frequency is {freq}.")

Max integer is: 7 and its frequency is 1.

c) Remove duplicates from the list and print the new list without changing the order of elements. Do this operation without using the set data type.

In [ ]:
nums1 = []
for i in nums:
  if i not in nums1:
    nums1.append(i)
print(nums1)

[3, 4, 2, 1, 5, 7, 6]

d) Remove duplicates from the list and print the new list. Do this operation using the set data type.

In [ ]:
nums2 = []
numset = set()
for i in nums:
  if i in numset:
    continue
  else:
    nums2.append(i)
    numset.add(i)
print(nums2)

[3, 4, 2, 1, 5, 7, 6]