<a href="https://colab.research.google.com/github/abhinavtk1/ED5340-CW/blob/main/MA23M002_LAB6_PARTA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LAB 6: INHERITANCE & FILES - PART A

1. Design a class named Polygon that initializes with the length of a side. Then, derive a class named Square from the Polygon class. Utilize the side length defined in the Polygon class for the Square class. Within the Square class, implement a method called findArea() that calculates and returns the square's area based on its side length. Use __init__() for necessary initialization

In [1]:
class Polygon:
    def __init__(self, sideLength):
        self.side_length = sideLength

class Square(Polygon):
    def __init__(self, sideLength):
        super().__init__(sideLength)

    def findArea(self):
        return self.side_length ** 2


square1 = Square(5)
print("Area of the square:", square1.findArea())

Area of the square: 25

2) (a)  Create a class Father with attributes:
    - father_name (string), father_age (int), father_talents (set of strings) <br>

  Create a class Mother with attributes:

  - mother_name (string), mother_age (int), mother_talents (set of strings) <br>

Create a class Child that inherits both father and mother with attributes:

  - child_name (string), child_age (int), child_gender(string) <br>              

(b) Create a function getChildDetails() in Child to input the details of the child, itâ€™s father and mother and printChildDetails() to print the details using     printChildDetails() <br>

(c) Create an object of class Child and read the details by invoking getChildDetails() and display the details entered. <br>

(d) Create a function displayTalents() in class Child that displays the talents of the child inherited from father and mother. A talent is inherited to a child if both the parents possess it.<br>

In [28]:
class Father:
    def __init__(self, father_name, father_age, father_talents):
        self.father_name = father_name
        self.father_age = father_age
        self.father_talents = father_talents

class Mother:
    def __init__(self, mother_name, mother_age, mother_talents):
        self.mother_name = mother_name
        self.mother_age = mother_age
        self.mother_talents = mother_talents

class Child(Father, Mother):
    def __init__(self, name="", age=None, gender= '', father_name='', father_age=None, father_talents= [], mother_name ="", mother_age= None, mother_talents=[]):
        Father.__init__(self, father_name, father_age, father_talents)
        Mother.__init__(self, mother_name, mother_age, mother_talents)
        self.name = name
        self.age = age
        self.gender = gender

    def getChildDetails(self):
        self.name = input("Enter child's name: ")
        self.age = int(input("Enter child's age: "))
        self.gender = input("Enter child's gender: ")
        self.father_name = input("Enter father's name: ")
        self.father_age = int(input("Enter father's age: "))
        self.father_talents = list(input("Enter father's talents: ").split(','))
        self.mother_name = input("Enter mother's name: ")
        self.mother_age = int(input("Enter mother's age: "))
        self.mother_talents = list(input("Enter mother's talents: ").split(','))

    def printChildDetails(self):
        print("Child's Details:")
        print("Name:", self.name)
        print("Age:", self.age)
        print("Gender:", self.gender)

        print("Father's Name:", self.father_name)
        print("Father's Age:", self.father_age)
        print("Father's talents:")
        print(*self.father_talents, sep = ", ")

        print("Mother's Name:", self.mother_name)
        print("Mother's Age:", self.mother_age)
        print("Mother's talents:")
        print(*self.mother_talents, sep = ", ")

    def displayTalents(self):
        child_talents = []
        for talent in self.father_talents:
          if talent in self.mother_talents:
             child_talents.append(talent)
        if child_talents:
            print("Talents Inherited by the child from both parents:")
            print(*child_talents, sep=", ")
        else:
            print("No talents inherited from parents.")

In [32]:
# Create an object of Child
child1 = Child()

# GEt the details of child
child1.getChildDetails()

Enter child's name: Jack
Enter child's age: 10
Enter child's gender: Male
Enter father's name: John
Enter father's age: 44
Enter father's talents: Singing,Running,Dancing
Enter mother's name: Rose
Enter mother's age: 42
Enter mother's talents: Dancing,Singing,Cooking

In [33]:
# Print the details
child1.printChildDetails()

Child's Details:
Name: Jack
Age: 10
Gender: Male
Father's Name: John
Father's Age: 44
Father's talents:
Singing, Running, Dancing
Mother's Name: Rose
Mother's Age: 42
Mother's talents:
Dancing, Singing, Cooking

In [34]:
# Print talents inherited by child
child1.displayTalents()

Talents Inherited by the child from both parents:
Singing, Dancing

3. Text File Input Output <br>
Create a .txt (text) file and use the pledge of India as the content of the text file. <br>
Write a python program that reads this text file, processes it by counting the number of occurrences of each word in the file, and then writes the result back to a new text file.

In [41]:
import re
word_counter = {}
with open('pledge.txt', 'r') as f:
  for l in f:
    for w in l.split():
      if not w[-1].isalpha():
        w = w[:-1]
      w = w.lower()
      word_counter[w] = word_counter.get(w, 0) + 1

In [42]:
with open("words_count.txt", "w") as file:
    file.write("The word count in pledge of India: \n")
    for k, v in word_counter.items():
        file.write(f"{k}: {v}\n")

In [43]:
# Read words_count.txt file
with open('words_count.txt', 'r') as f:
  for l in f:
    print(l)

The word count in pledge of India:

india: 1

is: 1

my: 8

country: 3

and: 8

all: 1

indians: 1

are: 1

brothers: 1

sisters: 1

i: 5

love: 1

am: 1

proud: 1

of: 2

its: 1

rich: 1

varied: 1

heritage: 1

shall: 2

always: 1

strive: 1

to: 3

be: 1

worthy: 1

it: 1

give: 1

respect: 1

parents: 1

teachers: 1

elders: 1

treat: 1

everyone: 1

with: 1

courtesy: 1

people: 1

pledge: 1

devotion: 1

in: 1

their: 1

well: 1

being: 1

prosperity: 1

alone: 1

lies: 1

happiness: 1

jai: 1

hind: 1

 4.  For a restaurant, create a parent class â€˜Billâ€™ which has the properties as â€˜Customer  nameâ€™, â€˜Table Numberâ€™ and â€˜Orderâ€™ of which the name, order are strings and table  number is a positive integer. Define a method to extract the order details from the string and return a 2-D array of ordered items & their number. <br>
 Create a child class â€˜ 'Restaurant Billâ€™ which has a property called â€˜Price listâ€™ of the items and has a method to calculate the total bill amount by using the price list and order details. Also have a   method to print the complete bill for the customer including taxes and service charges.

In [82]:
class Bill:
    def __init__(self, cust_name, tbl_no, order):
        self.customer_name = cust_name
        self.table_number = tbl_no
        self.order = order

    def get_order_details(self):
        items = self.order.split(',')
        order_items = [] # 2-D array to store ordered items and quantities
        for item in items:
            name, amt = item.strip().split('x')
            order_items.append([name, int(amt)])
        return order_items

class RestaurantBill(Bill):
    def __init__(self, cust_name, tbl_no, order, price_list):
        super().__init__(cust_name, tbl_no, order)
        self.price_list = price_list

    def get_price_details(self):
        items = self.price_list.split(',')
        item_prices = dict() # Dictionary to store items and their quantities
        for item in items:
            name, price = item.strip().split('-')
            item_prices[name] =  int(price)
        return item_prices

    def total_bill_calculation(self):
        total_bill = 0
        order_details = self.get_order_details()
        if isinstance(self.price_list, str):
          item_prices = self.get_price_details()
        else:
          item_prices = self.price_list
        for item, count in order_details:
            total_bill += item_prices[item] * count
        return total_bill

    def print_bill(self):
        total_bill = self.total_bill_calculation()
        taxes = total_bill * 0.1
        service_charges = total_bill * 0.05
        final_amount = total_bill + taxes + service_charges

        print("Customer Name:", self.customer_name)
        print("Table Number:", self.table_number)
        print("Ordered Items:")
        order_details = self.get_order_details()
        for item, amt in order_details:
            print(f"{item}: {amt}")
        print()
        print("Total Bill: Rs.", total_bill)
        print("Tax (10%): Rs.", taxes)
        print("Service Charge (5%): Rs.", service_charges)
        print()
        print("Total Amount: Rs.", final_amount)
        print("THANK YOU!")

In [83]:
bill1 = RestaurantBill("Abhinav", 3, "Biryanix1,Rotisx3,Chicken Fryx1,Juicex5", "Biryani-100,Rotis-70,Chicken Fry-250,Juice-25")
bill1.print_bill()

Customer Name: Abhinav
Table Number: 3
Ordered Items:
Biryani: 1
Rotis: 3
Chicken Fry: 1
Juice: 5

Total Bill: Rs. 685
Tax (10%): Rs. 68.5
Service Charge (5%): Rs. 34.25

Total Amount: Rs. 787.75
THANK YOU!

 5. For the previous question( restaurant Bill) - take name, table no, order details from a file, price list from another file and print the whole bill to the new file.

In [84]:
with open('order.txt', 'r') as f:
  outputdict = dict()
  for l in f:
    a,b = l.split(": ")
    outputdict[a] = b.strip()
outputdict['Table Number'] = int(outputdict['Table Number'])

In [85]:
outputdict

{'Name': 'Abhinav',
 'Table Number': 3,
 'Order Details': 'Biryanix1,Rotisx3,Chicken Fryx1,Juicex5'}

In [86]:
with open('price_list.txt', 'r') as f:
  pricedict = dict()
  for l in f:
    a,b = l.split(":")
    pricedict[a] = int(b.strip())

In [87]:
pricedict

{'Biryani': 100, 'Rotis': 70, 'Chicken Fry': 250, 'Juice': 25}

In [88]:
bill2 = RestaurantBill(outputdict["Name"], outputdict["Table Number"], outputdict["Order Details"], pricedict)
bill2.print_bill()

Customer Name: Abhinav
Table Number: 3
Ordered Items:
Biryani: 1
Rotis: 3
Chicken Fry: 1
Juice: 5

Total Bill: Rs. 685
Tax (10%): Rs. 68.5
Service Charge (5%): Rs. 34.25

Total Amount: Rs. 787.75
THANK YOU!