# 19 - 01 - 2024
# MA23M002 - ABHINAV T K

In [28]:
str1 = "Abh"
str2 = "inav"
print(str1 + str2)    # Concatenation

Abhinav

In [5]:
print("="*45)

=============================================

In [6]:
print('el' in 'Helloo')

True

In [7]:
print('lin' in 'loner')

False

In [8]:
# String operations

In [9]:
str1 = "Abhinav"

In [10]:
print(str1.isalpha())

True

In [11]:
print(str1.isdigit())

False

In [12]:
print(str1.upper())

ABHINAV

In [13]:
print(str1.lower())

abhinav

In [15]:
print(str1.swapcase())

aBHINAV

In [16]:
print(str1.find('h'))

2

In [17]:
print(str1.replace('h','y',1))

Abyinav

In [22]:
str2 = "apple orange mango"

In [23]:
print(str2.split())

['apple', 'orange', 'mango']

In [24]:
str3 = "apple,orange,mango"

In [27]:
print(str3.split(","))  # Comma separated

['apple', 'orange', 'mango']

In [29]:
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [30]:
# input() function

In [31]:
a = input('Enter first value: ')

Enter first value: 23

In [33]:
b = input('Enter second val: ')

Enter second val: 10

In [38]:
print(type(a))

<class 'str'>

In [34]:
print(a+b)

2310

In [36]:
# Type conversion
c = int(a)+int(b) # Converting str to int
print(c)

33

In [37]:
print(type(c))

<class 'int'>

In [39]:
a, b = input("Enter two inputs: ").split()

Enter two inputs: 21 34

In [40]:
print("a = ",a)
print("b = ",b)

a =  21
b =  34

In [41]:
sum = int(a)+int(b)
print(sum)

55

In [46]:
name, age, salary = input("Enter name, age & salary ").split()

Enter name, age & salary Abhinav 25 12400.0

In [47]:
age = int(age)
salary = float(salary)

In [51]:
print(name,age,salary)

Abhinav 25 12400.0

In [52]:
data = input("Enter name, age, salary").split()

Enter name, age, salaryAbhi 25 12400.00

In [53]:
data

['Abhi', '25', '12400.00']

In [54]:
name = data[0]
age = int(data[1])
salary = float(data[2])

In [55]:
print("Printing...", name, age, salary)

Printing... Abhi 25 12400.0

In [56]:
print("I am", end = '\t')
print('learning', end = '\t')
print('Python')

I am	learning	Python