<a href="https://colab.research.google.com/github/abhinavtk1/ED5340-CW/blob/main/MA23M002_LAB3_PART2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LAB 3 - PART2: LISTS, SET AND TUPLE

6. List comprehension  : Given two lists of equal length, list1 contains the integers and list2 contains alphabets. Using list comprehension, WAP

a) To generate a list containing the squares of elements from list1.

In [1]:
list1 = [1,2,3,4,5,6,7]
list2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [2]:
sq_list1 = [x**2 for x in list1]
print(sq_list1)

[1, 4, 9, 16, 25, 36, 49]

b) To generate a list containing pairwise corresponding elements in the form of tuple.

In [3]:
list_pairs = [x for x in zip(list1,list2)]
print(list_pairs)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g')]

c) To generate a list containing all possible combinations of elements from the two lists.

In [4]:
list_comb = [(x,y) for x in list1 for y in list2]
print(list_comb)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (1, 'e'), (1, 'f'), (1, 'g'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (2, 'e'), (2, 'f'), (2, 'g'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (3, 'e'), (3, 'f'), (3, 'g'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (4, 'e'), (4, 'f'), (4, 'g'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd'), (5, 'e'), (5, 'f'), (5, 'g'), (6, 'a'), (6, 'b'), (6, 'c'), (6, 'd'), (6, 'e'), (6, 'f'), (6, 'g'), (7, 'a'), (7, 'b'), (7, 'c'), (7, 'd'), (7, 'e'), (7, 'f'), (7, 'g')]

d) To generate a list containing elements of list1 and list2 alternatively.

In [5]:
list_alt = [y for x in zip(list1,list2) for y in x]
print(list_alt)

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f', 7, 'g']

8. Write a code snippet in Python that takes a string as input and returns a tuple of tuples. Each inner tuple should contain a character from the input string and its corresponding ASCII value.

In [6]:
inp_str = input("Enter string: ")

Enter string: Abhinav

In [7]:
output = []
for c in inp_str:
  output.append((c,ord(c)))
output = tuple(output)
print(output)

(('A', 65), ('b', 98), ('h', 104), ('i', 105), ('n', 110), ('a', 97), ('v', 118))

9. Create a program that takes a list of tuples containing student name and roll number and returns a new list of tuples containing only those tuples whose first element is a vowel (a, e, i, o, u, A, E, I, O, U).

In [8]:
students = [('Abhinav', 1), ('Abhishek', 2), ('Pritam', 3), ('Partha',4), ('Vinod',5), ('Manish',6), ('Suman',7),('Ian',8)]
vowels = ['a','e','i','o','u']
output = []
for i in students:
  if i[0][0].lower() in vowels:
    output.append(i)
print(output)

[('Abhinav', 1), ('Abhishek', 2), ('Ian', 8)]

10.  Create a set of all numbers between 1 and 20 that are either divisible by 3 or 5, using set comprehension.

In [9]:
set1 = {x for x in range(1,21) if x%3==0 or x%5==0}
print(set1)

{3, 5, 6, 9, 10, 12, 15, 18, 20}

11. What is a frozenset()? Give examples.

Frozen set is an immutable version of Python set. Elements in this cannot be changed once created.

In [17]:
l = [2,3,4,6,1]
f = frozenset(l)
print(f)

frozenset({1, 2, 3, 4, 6})

In [ ]:
f[1] = 3  # returns error