# Lab 2 : Conditional Statements & Lists

Q1. Write a program to print numbers divisible by both 7 and 8. Numbers between 1 and 1000.

[Numbers like 56, which are both divisible by 7 and 8]

a. Using continue statement

b. Using the pass statement

In [1]:
# Using continue statement
for num in range(1, 1001):
    if num % 7 != 0 or num % 8 != 0:
        continue  # skip print
    print(num)

56
112
168
224
280
336
392
448
504
560
616
672
728
784
840
896
952

In [2]:
# Using pass statement
for num in range(1, 1001):
    if num % 7 != 0 or num % 8 != 0:
        pass  # do nothing
    else:
      print(num)

56
112
168
224
280
336
392
448
504
560
616
672
728
784
840
896
952

Q2. Number 34567222541147 has been given. Print the addition of all even digits and the addition of all odd digits.

In [3]:
n = 34567222541147

n_str = str(n)  # convert to str

evenSum = 0
oddSum = 0

# Iterate through each digit
for i in n_str:
    i = int(i)

    # Check if the digit is even or odd
    if i % 2 == 0:
        evenSum += i
    else:
        oddSum += i

print("Sum of even digits:", evenSum)
print("Sum of odd digits:", oddSum)

Sum of even digits: 24
Sum of odd digits: 29

3. Describe conditional expression. Write a program to print the maximum and minimum numbers from a list using conditional expression. Use the max () and min () functions to verify your output.

In [4]:
arr = [3, 5, 7, 2, 10, 3, 1, 8]
maxVal = arr[0]
minVal = arr[0]
for i in arr:
  maxVal = i if i > maxVal else maxVal
  minVal = i if i < minVal else minVal

print("Max value = ", maxVal)
print("Min value = ", minVal)
print(" ")
print("Using built-in functions to verify:")
print("Max value = ", max(arr))
print("Min value = ", min(arr))

Max value =  10
Min value =  1

Using built-in functions to verify:
Max value =  10
Min value =  1

4. Pascalâ€™s  Triangle : Print the following pattern for the given N number of rows.

In [32]:
num = 8
list1 = []
for i in range(num):
  list1.append([])
  list1[i].append(1)
  for j in range(1, i):
    list1[i].append(list1[i - 1][j - 1] + list1[i - 1][j])
  if(num != 0):
    list1[i].append(1)
for i in range(num):
  print(" " * (num - i), end = " ", sep = " ")
  for j in range(0, i + 1):
    print('{0:6}'.format(list1[i][j]), end = " ", sep = " ")
  print()

              1
             1      1
            1      2      1
           1      3      3      1
          1      4      6      4      1
         1      5     10     10      5      1
        1      6     15     20     15      6      1
       1      7     21     35     35     21      7      1

5. A palindrome sentence is a phrase or sentence that reads the same forward as it does backward, ignoring spaces, punctuation, and capitalization.


A) Take a number as input, determine if it is a palindrome, considering only numeric characters. Eg: 2442


B) Now, take a string as an input and check whether it is Palindrome or not.  eg: "Was it a car or a cat I saw?"

The expected output for this example will print, 'True'

In [7]:
def palindromeFun(n):
    n = str(n)
    return n == n[::-1]

inp = input("Enter a number: ")

# Check and print the result
out = palindromeFun(inp)
print(out)

Enter a number: 45654
True

In [8]:
def palindromeFun(s):
    s1 = ""
    for i in s:
      if i.isalnum():
        s1+=i.lower()

    return s1 == s1[::-1]

inp_Str = "Was it a car or a cat I saw?"
# Check and print the result
output = palindromeFun(inp_Str)
print(output)

True

6. Describe chr () and ord () functions. Write a small program to show its functionality.Using these functions,write a program to print:

Pattern for N=4

  A

  B B

  C C C

  D D D D

In [9]:
x = chr(65)
print(x)

A

In [10]:
y = ord('A')
print(y)

65

In [11]:
def pattern(N):
    for i in range(N):
        start_ord = ord('A')
        s = chr(start_ord+i)*(i+1)
        for c in s:
          print(c, end=" ")
        print("\n")

N = int(input("Enter the value of N: "))

# Print the pattern
pattern(N)

Enter the value of N: 4
A

B B

C C C

D D D D

7.You have a single list of names (each name should have first name and last name). Write a programme

(a) to print the first names.

(b) to print the second names.

(c) to print each name as 'second_name first_name.

(d) to print the names in the sorted order with respect to last name

Example :Input list: ['Mark Antony', 'Mohan Raj'],

Output :

 a) ['Mark', 'Mohan']  

b) ['Antony', 'Raj']

c) ['Antony Mark', 'Raj Mohan'

In [12]:
l1 = ['Mark Antony', 'Mohan Raj', 'Akshay Kumar', 'Ajay Kumar', 'Abani Singha']

In [13]:
# Print first names
firstNames = []
for i in l1:
  firstNames.append(i.split()[0])
print(firstNames)

['Mark', 'Mohan', 'Akshay', 'Ajay', 'Abani']

In [14]:
# Print last names
lastNames = []
for i in l1:
  lastNames.append(i.split()[1])
print(lastNames)

['Antony', 'Raj', 'Kumar', 'Kumar', 'Singha']

In [15]:
# Print last name first name
output = []
for i in l1:
  output.append(" ".join(i.split()[::-1]))
print(output)

['Antony Mark', 'Raj Mohan', 'Kumar Akshay', 'Kumar Ajay', 'Singha Abani']

In [16]:
# print the names in the sorted order with respect to last name
# sort output of previous question
output.sort()
output2 = []
for i in output:
  output2.append(" ".join(i.split()[::-1]))
print(output2)

['Mark Antony', 'Ajay Kumar', 'Akshay Kumar', 'Mohan Raj', 'Abani Singha']

 8. WAP to find the minimum of 3 numbers using

 a) with conditional expressions. (No loops should be used)

 b) with nested conditional expression. (No loops should be used)

 c) similar to problem (b), find the minimum of 4 numbers.

In [17]:
# Input three numbers
n1 = float(input("Enter the first number: "))
n2 = float(input("Enter the second number: "))
n3 = float(input("Enter the third number: "))
if n1<n2:
  if n1<n3:
    min_n = n1
  else:
    min_n = n3
else:
  if n2<n3:
    min_n = n2
  else:
    min_n = n3

# Output the result
print("Minimum number:", min_n)

Enter the first number: 4
Enter the second number: 3
Enter the third number: 1
Minimum number: 1.0

In [18]:
n1 = 5
n2 = 3
n3 = 1
n4 = 8
# Using nested conditional expressions to find the minimum
min_n = n1 if n1<n2 and n1 < n3 and n1 < n4 else n2 if n2<n1 and n2<n3  and n2<n4 else n3 if n3<n1 and n3<n2  and n3<n4 else n4

# Output the result
print("Minimum number:", min_n)

Minimum number: 1

In [19]:
# Input four numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
num4 = float(input("Enter the fourth number: "))

# Using nested conditional expressions to find the minimum of four numbers
min_number = num1 if num1 < num2 else (num2 if num2 < num3 else (num3 if num3 < num4 else num4))

# Output the result
print("Minimum number:", min_number)

Enter the first number: 7
Enter the second number: 4
Enter the third number: 2
Enter the fourth number: 2
Minimum number: 2.0

9. Create a list of departments in IIT Madras (Minimum 5 ) and perform the following operations:

 append
remove
pop
insert
reverse
sort
count
index
extend
slice
clear

In [20]:
# Initial list
iitm = ['CSE', 'MA', 'ECE', 'Mech', 'BioTech', 'MSME']

In [21]:
# Append: Add 'Chem' to the end of the list
iitm.append('Chem')
iitm

['CSE', 'MA', 'ECE', 'Mech', 'BioTech', 'MSME', 'Chem']

In [22]:
# Remove: Remove 'MA' from the list
iitm.remove('MA')
iitm

['CSE', 'ECE', 'Mech', 'BioTech', 'MSME', 'Chem']

In [23]:
# Pop: Remove the last element ('Chem') from the list
iitm.pop()
iitm

['CSE', 'ECE', 'Mech', 'BioTech', 'MSME']

In [24]:
# Insert: Insert 'MA' at index 1
iitm.insert(1, 'MA')
iitm

['CSE', 'MA', 'ECE', 'Mech', 'BioTech', 'MSME']

In [25]:
# Reverse
iitm.reverse()
iitm

['MSME', 'BioTech', 'Mech', 'ECE', 'MA', 'CSE']

In [26]:
# Sort: Sort the list alphabetically
iitm.sort()
iitm

['BioTech', 'CSE', 'ECE', 'MA', 'MSME', 'Mech']

In [27]:
# Count no. of MSME
count_msme = iitm.count('MSME')
print(count_msme)

1

In [28]:
# Index
index_biotech = iitm.index('BioTech')
print("Index of 'BioTech':", index_biotech)

Index of 'BioTech': 0

In [29]:
# Extend
iitm.extend(['Chem', 'Aero'])
iitm

['BioTech', 'CSE', 'ECE', 'MA', 'MSME', 'Mech', 'Chem', 'Aero']

In [30]:
# Slice: Get a slice of the list from index 2 to 5
sliced_list = iitm[2:6]
print(sliced_list)

['ECE', 'MA', 'MSME', 'Mech']

In [31]:
# Clear
iitm.clear()
iitm

[]